
.navbar-dark .navbar-brand{
    color: #79C4CD;
    font-size: 36px;
    font-family: satisfy;
    margin-left: 30px;
}


.navbar-dark .navbar-nav .nav-link{
    font-family: oswald;
    font-size: 24px;
    color: #C9AA8B;
    padding-right: 30px;
    
    
}


.bg-dark{
    background-color: #1C2128 !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#DC4625;
}

.title h1{
    text-align: center;
    font-family: lora;
    font-size: 48px;
    margin: 100px;
    font-weight: bold;
    
}

.intro p{
    font-family: lora;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    font-size: 24px;
    
}

.role h2{
    font-family: lora;
    text-align: center;
    font-size: 24px;
    
}

.main img{
    margin-top: 100px;
    width: 800px;
    margin-left: 400px;
}

.carousel-item img{
    width: 700px;
    padding-top: 100px;
    margin-left: 450px;
    
}


.carousel-inner {
    background-color: #1C2128;
    margin-top: 100px;
    height: 900px;

}

.carousel-indicators li{
    margin-top: 100px;
}

.titleTwo h1{
    text-align:left;
    font-family: lora;
    font-size: 36px;
    margin: 100px;
    font-weight: bold;

}

.titleTwo p{
    font-family: lora;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    font-size: 24px;
}

.beforeAfter img{
    margin-top: 200px;
    margin-left: 200px;
    padding-right: 50px;
}

.beforeAfter img .after{
    margin-top: 100px;
}

