/* 
.navbar-dark .navbar-brand{
    color: #79C4CD;
    font-size: 36px;
    font-family: satisfy;
    margin-left: 30px;
}


.navbar-dark .navbar-nav .nav-link{
    font-family: oswald;
    font-size: 24px;
    color: #C9AA8B;
    padding-right: 30px;
    
    
}


.bg-dark{
    background-color: #1C2128 !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#DC4625;
} */


.navbar-dark .navbar-brand{
    color: #79C4CD;
    font-size: 36px;
    font-family: satisfy;
    margin-left: 30px;
    font-weight: 300;
}

@media screen and (max-width:600px) {
    .navbar-dark .navbar-brand {
        font-size: 24px;
    }
}


.navbar-dark .navbar-brand:hover{
    color:#79C4CD;
}




.navbar-dark .navbar-nav .nav-link{
    font-family: oswald;
    font-size: 24px;
    color: #C9AA8B;
    padding-right: 30px;
  
    
    
    
}

.nav-item1{
    margin-right: 50px;
}


.bg-dark{
    background-color: #0C1B1D !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#DC4625;
}

.dropdown-menu {
    background-color: #0C1B1D !important;
}

.dropdown-item{
    color: #C9AA8B;
    font-size: 20px;

}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    background-color:#DC4625;
}

.title h1{
    text-align: center;
    font-family: lora;
    font-size: 36px;
    margin-top: 100px;
    font-weight: bold;
    margin-bottom: 50px;
    
}

@media screen and (max-width:600px){
    .title h1 {
        font-size: 24px;
        margin-top: 50px;
    }
}

.intro p{
    font-family: lora;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px; 
    margin-bottom: 50px;
    font-size: 18px;

    
}

@media screen and (max-width:600px){
    .intro p{
        font-size: 14px;
        margin-left: 30px;
    }

}

.role h2{
    font-family: lora;
    text-align: center;
    font-size: 16px;
    
}

@media screen and (max-width:600px){
    .role h2{
        font-size: 12px;
    }
}

.main img{
    margin-top: 50px;
    width: 600px;
    margin-left: 500px;
    
}

@media screen and (max-width:600px){
    .main img {
        width: 250px;
        margin-left: 70px;
    }
}

.carousel-item img{
    width: 1000px;  
    height: 700px;
    padding-top: 150px;
    margin-left: 270px;
    
}

@media screen and (max-width:600px){
    .carousel-item img{
        width: 300px;
        height: 250px;
        margin-left: 40px;
        padding-top: 50px;
    }
}




.carousel-inner {
    background-color: #0C1B1D;
    margin-top: 100px;
    height: 900px;

}

@media screen and (max-width:600px){
    .carousel-inner{
        height: 300px;
        margin-top: 50px;
    }
}

.carousel-indicators li{
    margin-top: 100px;
}


.titleTwo h1{
    text-align:left;
    font-family: lora;
    font-size: 24px;
    margin: 50px;
    font-weight: bold;

}

@media screen and (max-width:600px){
    .titleTwo h1{
        font-size: 18px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}

.titleTwo p{
    font-family: lora;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 18px;
}

@media screen and (max-width:600px){
    .titleTwo p{
        font-size: 14px;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.lowhigh h1{
    text-align:left;
    font-family: lora;
    font-size: 24px;
    margin: 50px;
    font-weight: bold;


}

@media screen and (max-width:600px){
    .lowhigh h1{
        font-size: 18px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}


.lowhigh p{
    font-family: lora;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;

}

@media screen and (max-width:600px){
    .lowhigh p{font-size: 14px;
        margin-left: 30px;
        margin-top: 20px;
    }
}

.lowhigh img{
    width: 1200px;
    margin-left: 170px;
    border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width:600px){
    .lowhigh img{
        width: 300px;
        margin-left: 30px;
    }
}


.beforeafter p{
    font-family: lora;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;

}

@media screen and (max-width:600px){
    .beforeafter p{
        font-size: 14px;
        margin-left: 30px;
    }
}
/* .box{
    display: flex;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    
}


.box .imgBx{
    margin-top: 200px;
    margin-left: 200px;
    vertical-align: middle; 
}



.box .content{
    font-family: lora;
    font-size: 24px; 
    margin-right: 100px;
    margin-top: 100px;
    padding-left: 100px;
     
} */


/* 
.footer {
    font-size: 18px;
    font-family: oswald;
    margin: 20px;
    margin-top: 200px;
    
    

}

@media screen and (max-width:600px) {
    .footer {
        margin-top: 900px;
        
    }
}

.email {
    height: 60px;
    width: 45px;
    margin: 5px;
    position: relative;
    bottom: 107px;
    float: left;
    margin-left: 650px;
}

@media screen and (max-width:600px) {
    .email{
      margin-left: 150px;
        
    }
}

.facebook {
    height: 45px;
    margin: 5px;
    position: relative;
    bottom: 100px;
    float: left;
    
}

@media screen and (max-width:600px) {
    .facebook{
     
        
    }
}

.linkedin {
    height: 45px;
    margin: 5px;
    position: relative;
    bottom: 100px;
    float: left;
}

@media screen and (max-width:600px) {
    .linkedin {
        

    }
}

.copyright {
    height: 35px;
    margin-top: 35px;
    padding-left: 425px;
    
}

@media screen and (max-width:600px) {
    .copyright {
        height: 30px;
        padding-left: 250px;
        margin-top: 3px;
        
        

    }
}



h6 {
    font-family: oswald;
    font-size: 24px;
    float: right;
    margin-right: 20px;
    font-weight: 100;
    color: #C9AA8B; 
    line-height: 4;
    

}

@media screen and (max-width:600px) {
    h6 {
        font-size: 18px;
        margin-top: 0px;
        padding-top: 0px;
    
    }
} */

.gif{
    margin-top: 50px;
    margin-bottom: 100px;

}
#before {
    float: left;
    margin-left: 220px;
    background-color: #0C1B1D;
    border-radius: 20px 20px;
}

@media screen and (max-width:600px){
    #before{
        margin-left: 90px;
    }
}

#before h4{
    font-family: lora;
    font-size: 24px;
    color: #C9AA8B;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    

}

@media screen and (max-width:600px){
    #before h4{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
#before img{
    width: 450px;
    height: 350px;
    margin-bottom: 80px;
    

}

@media screen and (max-width:600px){
    #before img{
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
    }
}

#after {
    float: right;
    margin-right: 220px;
    background-color: #0C1B1D;
    border-radius: 20px 20px;
    

}

@media screen and (max-width:600px){
    #after {
        margin-top: 20px;
        margin-right: 90px;
    
    }
}



#after h4{
    font-family: lora;
    font-size: 24px;
    color: #C9AA8B;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

@media screen and (max-width:600px){
    #after h4{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
#after img{
    width: 450px;
    height: 350px;
    margin-bottom: 80px;
   
}

@media screen and (max-width:600px){
    #after img{
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
    }
}

.key{
    margin-top: 50px;
}




.key h1{
    text-align:left;
    font-family: lora;
    font-size: 24px;
    margin: 50px;
    font-weight: bold;


}

@media screen and (max-width:600px){
    .key h1{
        font-size: 18px;
        margin-left: 30px;
        margin-bottom: 20px;

    }
}


.key p{
    font-family: lora;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;

}

@media screen and (max-width:600px){
    .key p{
        font-size: 14px;
        margin-top: 20px;
        margin-left: 30px;
        
    }
}

.card {
    margin-top: 650px;
    
}

@media screen and (max-width:600px){
    .card {
        margin-top: 700px;
    }
}

.card-header {
    background-color: #0C1B1D;
    
}

.card-body {
    background-color: #C9AA8B;
}

.card-body .card-title{
    font-family: oswald;
    font-weight: bold;
}

.card-body .btn {
    background-color: #DC4625;
    font-family: oswald;
    font-weight: bold;
}

.card-footer {
    background-color: #0C1B1D;
}
.footer {
    font-size: 18px;
    font-family: oswald;
    margin-top: 100px;
    background-color: #0C1B1D;
    height: 200px;
    
}

@media screen and (max-width:600px) {
    .footer {
        margin-top: 100px;
        
    }
}



.email {
    height: 60px;
    width: 45px;
    margin: 5px;
    position: relative;
    /* bottom: 107px; */
    float: left;
    margin-left: 50px;
    bottom: -70px;

}

@media screen and (max-width:600px) {
    .email{
      margin-left: 30px;
      width: 35px;
      height: 50px;
      bottom: -72px;
        
    }
}

.facebook {
    height: 45px;
    margin: 5px;
    position: relative;
    /* bottom: 100px; */
    float: left;
    bottom: -78px;
    
}

@media screen and (max-width:600px) {
    .facebook{
        height: 38px;
     
        
    }
}

.linkedin {
    height: 45px;
    margin: 5px;
    position: relative;
    /* bottom: 100px; */
    float: left;
    bottom: -78px;
}

@media screen and (max-width:600px) {
    .linkedin {
        height: 38px;
        

    }
}

.copyright {
    height: 20px;
    margin-top: 100px;
    padding-left: 1095px;


    
}

@media screen and (max-width:600px) {
    .copyright {
        height: 25px;
        padding-left: 250px;
        margin-top: 3px;
        
        

    }
}



h6 {
    font-family: oswald;
    font-size: 18px;
    float: right;
    margin-right: 50px;
    font-weight: 100;
    color: #C9AA8B; 
    line-height: 4;
    margin-top: 72px;
    

}

@media screen and (max-width:600px) {
    h6 {
        font-size: 18px;
        margin-top: 0px;
        padding-top: 40px;
        margin-right: 30px;
        
    
    }
}


